In [1]:
import sqlite3
import pandas as pd

In [3]:
processed_dataset_path = "../Data_Collection/processed_titanic_train.csv"
df = pd.read_csv(processed_dataset_path)

In [4]:
conn = sqlite3.connect("titanic.db")

In [5]:
cur = conn.cursor()

In [6]:
cur.execute('''CREATE TABLE IF NOT EXISTS titanic (
                Survived INTEGER,
                Pclass INTEGER,
                Sex TEXT,
                Age REAL,
                SibSp INTEGER,
                Parch INTEGER,
                Fare REAL,
                Embarked TEXT,
                FamilySize INTEGER
            )''')

In [7]:
df.to_sql('titanic', conn, if_exists='replace', index=False)

889

In [8]:
conn.commit()
conn.close()